// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html, body {
    background-color: #edf1f5;
    height: 100%;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}


#barra_ladodireito {
    background-color: white;
    height: 100%;
    position: fixed;
    left: 0px;
    width: 18%;
}

#menu_superior {
    padding-top: 1.5%;
    background-color: #4F5467;
    width: 100%;
    margin-left: 16.5%;
    height: 4.3%;
    position: fixed;
    top: 0px;
}


#imagem_utilizador {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 25%;
    margin-left: 10%;
    margin-right: 50%;
    overflow: hidden;

    img {
        height: 400px;
        // margin: -75px 0 0 -100px;
    }
}

#imagem_utilizador2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 25%;
    margin-left: 30%;
    margin-right: 30%;
}


#nome_utilizador {
    text-align: center;
}


#nome_utilizador a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


#menu_utilizador a {
    display: block;
    border-bottom: solid 1px black;
    text-decoration: none;
    font-size: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #4F5467;
    color: white;
}


#menu_utilizador a:first-child {
    border-top: solid 1px black;
    padding-top: 5%;
}


#menu_utilizador a span {
    margin-left: 8%;
}


#menu_utilizador {
    margin-top: 20%;
}


#menu_utilizador i {
    margin-right: 5%;
}


#menu_superior a {
    text-decoration: none;
    color: white;
}



#menu_superior span {
    width: 10%;
    display: inline-block;
}


#menu_superior #lista {
    text-align: center;
    display: inline;
    margin-left: 45%;
}


.lado_esquerdo {
    width: 20%;
    height: 100%;
    float: left;
    display: inline-block;
}


.lado_direito {
    width: 70%;
    height: 100%;
    display: inline-block;
}


.lado_esquerdo img {
    border-radius: 50%;
    width: 60%;
    margin-left: 5%;
    margin-bottom: 1%;
}


.lado_direito h3 {
    font-size: 15px;
}


.lado_direito h3 a {
    color: #404040;
    text-decoration: none;
}


.lado_direito .descricao {
    margin-top: 8%;
}



.ver_mais {
    color: #ababab;
}


.lado_direito p:not(.ver_mais) {
    font-size: 14px;
    color: #333;
    font-family: Poppins, sans-serif;
}




.comments_box {
    height: 34px;
    width: 100%;
    font-size: 14px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #555;
}


#caixa_pesquisa {
    border-radius: 15%;
}



@mixin deleteButton($float, $marginRight, $color) {
    float: $float;
    margin-right: $marginRight;
    color: $color;
}

.deleteComment {
    @include deleteButton(right, 1%, gray);
}


.deletePublication {
    @include deleteButton(right, 1%, gray);
    margin-top: 5%;
    font-size: 20px;
}


.comment {
    border-radius: 10px;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #edf1f5;
}


.comment_date {
    color: gray;
    font-size: 10px;
}


.comment_user_photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.comment_user, .comment_date {
    font-weight: bold;
}


#profile_menu {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
    margin-top: 0%;
    list-style: none;
    font-family: Poppins, sans-serif;
    padding-left: 11%;


    li.active {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
    }

    li {
        float: left;
        margin-bottom: -1px;

        a {
            font-weight: 400;
            font-size: 15px;
            margin-right: 2px;
            line-height: 1.42857143;
            border: 1px solid transparent;
            border-radius: 4px 4px 0 0;
            position: relative;
            display: block;
            padding: 10px 15px;
        }
    
        a, a:link, a:visited, a:focus {
            color: #404040;
            text-decoration: none;
        }
        

    }

}



#profile_content {

    width: 85%;
    margin-left: 18%;
    margin-top: 4%;
    height: 93%;
    display: block;

}


#banner {
    width: 100%;
    height: 160px;
    background-image: url(https://socialyte.codeplus.it/img/banner.jpg);
    background-size: cover;
    background-position: center;
}




@mixin profile_side($width, $height, $float) {
    width: $width;
    height: $height;
    float: $float;
}

#left_side_profile {
    @include profile_side(63%, 93%, left);
}


#right_side_profile {
    @include profile_side(30%, 93%, right);
    margin-right: 2.5%;
}



@mixin section($background_color, $width, $marginLeft, $marginBottom, $paddingBottom, $paddingTop) {
    background-color: $background_color;
    width: $width;
    margin-left: $marginLeft;
    margin-bottom: $marginBottom;
    padding-bottom: $paddingBottom;
    padding-top: $paddingTop;
}


.profile_post {
    @include section(white, 100%, 3%, 2%, 2%, 1%);
}



.profile_section {
    @include section(white, 100%, 3%, 4%, 2%, 1%);
}


#content {
    margin-top: 1%;
}



@mixin profile_photo($width, $height, $marginRight, $marginTop, $marginLeft) {
    width: $width;
    height: $height;
    margin-right: $marginRight;
    margin-top: $marginTop;
    margin-left: $marginLeft;
}


.profile_friend_photo {
    @include profile_photo(50px, 50px, 4%, 2%, 4%);
    border-radius: 50%;
}



.profile_user_photo_container {
    overflow: hidden;
    display: inline-block;
    @include profile_photo(80px, 80px, 4%, 2%, 4%);
}

.profile_user_photo {
    height: 120px;
}




#profileOwnerPhoto {
    width: 300px;
    height: 300px;
    overflow: hidden;
    padding: 5%;

    img {
        height: 500px;
    }
}





@mixin blank_center_section($width, $marginLeft, $marginTop, $height) {
    width: $width;
    margin-left: $marginLeft;
    margin-top: $marginTop;
    height: $height;
}


#feed {
    @include blank_center_section(78%, 18%, 4%, 93%);
}


#album_container {
    @include blank_center_section(85%, 18%, 4%, 93%);
}


#about_section {
    @include blank_center_section(85%, 18%, 4%, 93%);
}


@mixin friendCol($width, $float) {
    width: $width;
    float: $float;
}


@mixin newRow ($backgroundColor, $width, $marginLeft, $paddingBottom, $paddingTop) {
    background-color: $backgroundColor;
    width: $width;
    margin-left: $marginLeft;
    padding-bottom: $paddingBottom;
    padding-top: $paddingTop;
}



#friends_list {
    @include blank_center_section(85%, 18%, 4%, 80%);
    height: 93%;
    margin-top: 4%;

    #scrollbar {
        margin-left: 11%;
        width: 76%;
        height: 60%;
        overflow-y: scroll;
    }
}



.post {
    @include newRow(white, 80%, 10%, 2%, 1%);
    margin-top: 1%;
    margin-bottom: 2%;
}


.photo {
    @include newRow(white, 76%, 11%, 2%, 1%);
}


#info {
    @include newRow(white, 76%, 11%, 2%, 1%);
}




@mixin friendButton($padding, $background, $color, $textAlign, $display, $borderRadius, $fontWeight, $fontSize) {
    padding: $padding;
    background: $background;
    color: $color;
    text-align: $textAlign;
    display: $display;
    border-radius: $borderRadius;
    font-weight: $fontWeight;
    font-size: $fontSize;
}



.friend {

    @include newRow(white, 100%, 0%, 2%, 1%);
    display: inline-block;
    border-bottom: 1px solid #eaeaea;
    height: auto;
    padding: 10px 0;

    .friend_image {
        @include friendCol(16.66666667%, left);
    }

    .friend_info {
        @include friendCol(58.33333333%, left);
    }

    .friend_chat {
        height: 100%;
        margin-top: 3%;
        @include friendCol(25%, left);
    }
    
    .photo_user {
        border-radius: 50%;
        // max-width: 110px;
        // min-width: 60px;
        width: 110px;
        height: 110px;
        margin-left: 10%;
        margin-top: 4%;
    }

    .see_profile {
        @include friendButton(4px 8px, #f3ad00, #fff, center, inline-block, 10px, normal, 14px);
    }

    .chat-time {
        font-size: 11px;
        color: #b5b5b5;
        margin-bottom: 6px;
    }

}




#photos_album {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;

}


.image {
    flex: 20%;
    width: 20%;
    padding: 0 4px;
}


@media screen and (max-width: 1000px) {
    .image {
      flex: 47%;
      max-width: 47%;
    }
  }
  

  @media screen and (max-width: 600px) {
    .image {
      flex: 100%;
      max-width: 100%;
    }
  }


  /* gallery image */
.image img {
    @include profile_photo(90%, 148px, 5%, 2%, 5%);
    border: 2px dotted black;
}



@mixin button($backgroundColor, $color, $width, $borderRadius, $borderColor, $padding, $fontSize) {
    background-color: $backgroundColor;
    color: $color;
    width: $width;
    border-radius: $borderRadius;
    border-color: $borderColor;
    padding: $padding;
    font-size: $fontSize;
}


#addPhotoButton {
    @include button(#F3AD00, white, 5%, 4px, transparent, 5px, 25px);
    float: right;
    margin-right: 3%;
    margin-top: 1%;
}



.modal {
    display: none; /* Inicialmente está escondida */
    position: fixed; /* Mantém-se na mesma posição da página, mesmo que seja feito scroll */
    z-index: 1; /* Aparece em frente */
    padding-top: 100px; /* Permite colocar a modal mais para baixo, atribuindo padding ao parent */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; /* Caso a modal tenha muito conteúdo, é adicionado um scroll */
    background-color: rgba(0,0,0,0.4); /* Ao adicionar a modal, o fundo do seu pai (o documento) fica mais escuro (preto, com uma opacidade de 0.4) */
  }


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;


    input, textarea {
        width: 100%;
    }

    textarea {
        resize: none;
    }


  }
  

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }


.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#post_content {
    resize: none;
    border: 1px solid transparent;
}


#add_new_post {
    text-align: center;
    margin-bottom: 5%;
    background-color: #4F5467;
}



.document {

    display: inline-block;
    margin-left: 5%;
    margin-top: 5%;

    .docname {
        font-size: 11px;
        font-weight: bold;
    }

    
}


/* É o mesmo código do que o addPhotoButton */
#editProfileButton {
    @extend #addPhotoButton
}


.alignCenter {
    text-align: center;
}


.input {
    background-color: lightgray;
    border: 1px solid darkgray;
    border-radius: 4px;
    height: 34px;
    width: 100%;
    font-size: 14px;
}


textarea.input {
    height: 68px;
    resize: none;
}


#saveProfileButton {
    @include button(#F3AD00, white, 35%, 4px, transparent, 5px, 15px);
    cursor: pointer;
    float: right;
    margin-right: 3%;
    margin-top: 1%;
}


.littleInfo {
    font-size: 12px;
}



.emojis {

    img {
        cursor: pointer;
    }

}


.group {
    border: 1px solid #b5b5b5;
    @include newRow(white, 248px, 0%, 2%, 1%);
    display: inline-block;
    margin-right: 5%;
    margin-top: 5%;

    .fa-users {
        font-size: 25px;
    }

}


.accept_friend {
    @include friendButton(4px 8px, green, #fff, center, inline-block, 10px, normal, 14px);
}


.decline_friend {
    @include friendButton(4px 8px, red, #fff, center, inline-block, 10px, normal, 14px);
}


.join_group {
    @include friendButton(4px 8px, #f3ad00, #fff, center, inline-block, 10px, normal, 14px);
}



.simpleHref {
    text-decoration: none; 
    color: black;
}



#groups_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;

    .chat-time {
        font-size: 11px;
        color: #b5b5b5;
        margin-bottom: 6px;
        margin-right: 10px;
        margin-left: 10px;
    }

}



#addGroupButton {
    @extend #addPhotoButton;
}


#searchGroupButton {
    @include button(gray, white, 5%, 4px, transparent, 5px, 25px);
    float: right;
    margin-right: 3%;
    margin-top: 1%;
    cursor: pointer;
}



.groupModalClose {
    @extend .close;
}


.groupModalClose:hover, .groupModalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



  #groupSearchBox {
    float: right;
    margin-right: 0.5%;
    margin-top: 1.2%;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    height: 38px;
    width: 30%;
    font-size: 14px;
    color: black;
    padding-left: 1%;
  }


.groupUserRole {
    font-size: 12px;
    color: blue;
    font-weight: bold;
}
  


.send_friend_request {
    @include friendButton(3%, gray, #fff, center, inline-block, 10px, normal, 14px);
}


#searchUserButton {
    @extend #searchGroupButton;
}



.leave_group {
    @extend .send_friend_request;
}


#publicationSearchBox {
    @extend #groupSearchBox;
}


#searchPublicationButton {
    @include button(gray, white, 8%, 4px, transparent, 5px, 25px);
    float: right;
    margin-right: 3%;
    margin-top: 1%;
    cursor: pointer;
}





@media only screen and (max-width: 1200px) {

    #imagem_utilizador {
        display: none;
    }

    #imagem_utilizador2 {
        display: none;
    }

    .lado_direito {
        margin-left: 15%;
    }

    #menu_utilizador a {
        padding-top: 20%;
    }


    .post {
        @include section(white, 95%, 3%, 2%, 2%, 1%);
    }

    #lista text {
        display: none;
    }

    .textI {
        display: none;
    }

}

@media only screen and (max-width: 600px) {

    #left_side_profile {
        width: 100%;
    }
    
    #right_side_profile {
        width: 100%;
    }

    #menu_utilizador a {
        font-size: 14px;
    }

    #searchPublicationButton {
        width: 15%;
    }

    #searchGroupButton {
        width: 12%;
    }

    #searchUserButton {
        width: 10%;
    }

    #addGroupButton {
        width: 10%;
    }

    #addPhotoButton {
        width: 10%;
    }

    #editProfileButton {
        width: 10%;
    }


    .friend {
        
        .see_profile {
            font-size: 12.5px;
        }

        .photo_user {
            width: 45px;
            height: 45px;
        }

    }



  }




#file-upload {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
}


#pub-add {
    display: none;
}


.add-pub-button {
    @extend .custom-file-upload;
}


#insertPub {
    @extend .custom-file-upload;
}