@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

html,
body {
  /* background-color: #fff; */
  background-image: url("https://socialyte.codeplus.it/img/urban.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#centro_pagina {
  /* Tem de ser rgba para permitir apenas a opacidade ao fundo, e não ao conteúdo do div */
  /* O opacity = 0.75 iria aplicar ao conteúdo do div também */
  background: rgba(0, 0, 0, 0.75);
  color: white;
  width: 380px;
  padding: 15px;
}

#logo_pagina_principal img {
  width: 75%;
  /* margin auto com o display block, permite centrar a imagem */
  display: block;
  padding: 10px;
  margin: auto;
}

.erro_autenticacao {
  border-color: #F3AD00;
  color: #F3AD00;
}

.formulario_login {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 34px;
  width: 100%;
  font-size: 14px;
}

#botao-login {
  background-color: #F3AD00;
  color: white;
  width: 100%;
  border-radius: 4px;
  border-color: transparent;
  padding: 5px;
  font-size: 14px;
  margin-top: 20px;
}

#guardarpasse {
  font-size: 15px;
  /* display block é necessário para os elementos não ficarem na mesma linha */
  /* caso não fizessemos isto, não era possível atirbuir margin top */
  display: block;
  margin-top: 10px;
}

.link_pagina_principal {
  color: white;
  font-size: 15px;
}

footer {
  bottom: 0px;
  position: fixed;
  height: 3%;
  background-color: #f3ad00;
  width: 100%;
}

footer a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.seccao_footer {
  display: inline-block;
  width: 25%;
}

