@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

html,
body {
  background-color: #edf1f5;
  height: 100%;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#barra_ladodireito {
  background-color: white;
  height: 100%;
  position: fixed;
  left: 0px;
  width: 18%;
}

#menu_superior {
  padding-top: 1.5%;
  background-color: #4F5467;
  width: 100%;
  margin-left: 16.5%;
  height: 4.3%;
  position: fixed;
  top: 0px;
}

#imagem_utilizador {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 25%;
  margin-left: 10%;
  margin-right: 50%;
  overflow: hidden;
}

#imagem_utilizador img {
  height: 400px;
}

#imagem_utilizador2 {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 25%;
  margin-left: 30%;
  margin-right: 30%;
}

#nome_utilizador {
  text-align: center;
}

#nome_utilizador a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#menu_utilizador a {
  display: block;
  border-bottom: solid 1px black;
  text-decoration: none;
  font-size: 15px;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #4F5467;
  color: white;
}

#menu_utilizador a:first-child {
  border-top: solid 1px black;
  padding-top: 5%;
}

#menu_utilizador a span {
  margin-left: 8%;
}

#menu_utilizador {
  margin-top: 20%;
}

#menu_utilizador i {
  margin-right: 5%;
}

#menu_superior a {
  text-decoration: none;
  color: white;
}

#menu_superior span {
  width: 10%;
  display: inline-block;
}

#menu_superior #lista {
  text-align: center;
  display: inline;
  margin-left: 45%;
}

.lado_esquerdo {
  width: 20%;
  height: 100%;
  float: left;
  display: inline-block;
}

.lado_direito {
  width: 70%;
  height: 100%;
  display: inline-block;
}

.lado_esquerdo img {
  border-radius: 50%;
  width: 60%;
  margin-left: 5%;
  margin-bottom: 1%;
}

.lado_direito h3 {
  font-size: 15px;
}

.lado_direito h3 a {
  color: #404040;
  text-decoration: none;
}

.lado_direito .descricao {
  margin-top: 8%;
}

.ver_mais {
  color: #ababab;
}

.lado_direito p:not(.ver_mais) {
  font-size: 14px;
  color: #333;
  font-family: Poppins, sans-serif;
}

.comments_box {
  height: 34px;
  width: 100%;
  font-size: 14px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #555;
}

#caixa_pesquisa {
  border-radius: 15%;
}

.deleteComment {
  float: right;
  margin-right: 1%;
  color: gray;
}

.deletePublication {
  float: right;
  margin-right: 1%;
  color: gray;
  margin-top: 5%;
  font-size: 20px;
}

.comment {
  border-radius: 10px;
  padding-right: 4%;
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #edf1f5;
}

.comment_date {
  color: gray;
  font-size: 10px;
}

.comment_user_photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comment_user,
.comment_date {
  font-weight: bold;
}

#profile_menu {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
  margin-top: 0%;
  list-style: none;
  font-family: Poppins, sans-serif;
  padding-left: 11%;
}

#profile_menu li.active {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

#profile_menu li {
  float: left;
  margin-bottom: -1px;
}

#profile_menu li a {
  font-weight: 400;
  font-size: 15px;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  position: relative;
  display: block;
  padding: 10px 15px;
}

#profile_menu li a,
#profile_menu li a:link,
#profile_menu li a:visited,
#profile_menu li a:focus {
  color: #404040;
  text-decoration: none;
}

#profile_content {
  width: 85%;
  margin-left: 18%;
  margin-top: 4%;
  height: 93%;
  display: block;
}

#banner {
  width: 100%;
  height: 160px;
  background-image: url(https://socialyte.codeplus.it/img/banner.jpg);
  background-size: cover;
  background-position: center;
}

#left_side_profile {
  width: 63%;
  height: 93%;
  float: left;
}

#right_side_profile {
  width: 30%;
  height: 93%;
  float: right;
  margin-right: 2.5%;
}

.profile_post {
  background-color: white;
  width: 100%;
  margin-left: 3%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  padding-top: 1%;
}

.profile_section {
  background-color: white;
  width: 100%;
  margin-left: 3%;
  margin-bottom: 4%;
  padding-bottom: 2%;
  padding-top: 1%;
}

#content {
  margin-top: 1%;
}

.profile_friend_photo {
  width: 50px;
  height: 50px;
  margin-right: 4%;
  margin-top: 2%;
  margin-left: 4%;
  border-radius: 50%;
}

.profile_user_photo_container {
  overflow: hidden;
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 4%;
  margin-top: 2%;
  margin-left: 4%;
}

.profile_user_photo {
  height: 120px;
}

#profileOwnerPhoto {
  width: 300px;
  height: 300px;
  overflow: hidden;
  padding: 5%;
}

#profileOwnerPhoto img {
  height: 500px;
}

#feed {
  width: 78%;
  margin-left: 18%;
  margin-top: 4%;
  height: 93%;
}

#album_container {
  width: 85%;
  margin-left: 18%;
  margin-top: 4%;
  height: 93%;
}

#about_section {
  width: 85%;
  margin-left: 18%;
  margin-top: 4%;
  height: 93%;
}

#friends_list {
  width: 85%;
  margin-left: 18%;
  margin-top: 4%;
  height: 80%;
  height: 93%;
  margin-top: 4%;
}

#friends_list #scrollbar {
  margin-left: 11%;
  width: 76%;
  height: 60%;
  overflow-y: scroll;
}

.post {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 2%;
  padding-top: 1%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.photo {
  background-color: white;
  width: 76%;
  margin-left: 11%;
  padding-bottom: 2%;
  padding-top: 1%;
}

#info {
  background-color: white;
  width: 76%;
  margin-left: 11%;
  padding-bottom: 2%;
  padding-top: 1%;
}

.friend {
  background-color: white;
  width: 100%;
  margin-left: 0%;
  padding-bottom: 2%;
  padding-top: 1%;
  display: inline-block;
  border-bottom: 1px solid #eaeaea;
  height: auto;
  padding: 10px 0;
}

.friend .friend_image {
  width: 16.66666667%;
  float: left;
}

.friend .friend_info {
  width: 58.33333333%;
  float: left;
}

.friend .friend_chat {
  height: 100%;
  margin-top: 3%;
  width: 25%;
  float: left;
}

.friend .photo_user {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin-left: 10%;
  margin-top: 4%;
}

.friend .see_profile {
  padding: 4px 8px;
  background: #f3ad00;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  font-weight: normal;
  font-size: 14px;
}

.friend .chat-time {
  font-size: 11px;
  color: #b5b5b5;
  margin-bottom: 6px;
}

#photos_album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 7%;
}

.image {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  width: 20%;
  padding: 0 4px;
}

@media screen and (max-width: 1000px) {
  .image {
    -webkit-box-flex: 47%;
        -ms-flex: 47%;
            flex: 47%;
    max-width: 47%;
  }
}

@media screen and (max-width: 600px) {
  .image {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
  }
}

/* gallery image */

.image img {
  width: 90%;
  height: 148px;
  margin-right: 5%;
  margin-top: 2%;
  margin-left: 5%;
  border: 2px dotted black;
}

#addPhotoButton,
#addGroupButton,
#editProfileButton {
  background-color: #F3AD00;
  color: white;
  width: 5%;
  border-radius: 4px;
  border-color: transparent;
  padding: 5px;
  font-size: 25px;
  float: right;
  margin-right: 3%;
  margin-top: 1%;
}

.modal {
  display: none;
  /* Inicialmente está escondida */
  position: fixed;
  /* Mantém-se na mesma posição da página, mesmo que seja feito scroll */
  z-index: 1;
  /* Aparece em frente */
  padding-top: 100px;
  /* Permite colocar a modal mais para baixo, atribuindo padding ao parent */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Caso a modal tenha muito conteúdo, é adicionado um scroll */
  background-color: rgba(0, 0, 0, 0.4);
  /* Ao adicionar a modal, o fundo do seu pai (o documento) fica mais escuro (preto, com uma opacidade de 0.4) */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
}

.modal-content textarea {
  resize: none;
}

.close,
.groupModalClose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.groupModalClose:hover,
.close:focus,
.groupModalClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#post_content {
  resize: none;
  border: 1px solid transparent;
}

#add_new_post {
  text-align: center;
  margin-bottom: 5%;
  background-color: #4F5467;
}

.document {
  display: inline-block;
  margin-left: 5%;
  margin-top: 5%;
}

.document .docname {
  font-size: 11px;
  font-weight: bold;
}

/* É o mesmo código do que o addPhotoButton */

.alignCenter {
  text-align: center;
}

.input {
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 4px;
  height: 34px;
  width: 100%;
  font-size: 14px;
}

textarea.input {
  height: 68px;
  resize: none;
}

#saveProfileButton {
  background-color: #F3AD00;
  color: white;
  width: 35%;
  border-radius: 4px;
  border-color: transparent;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  float: right;
  margin-right: 3%;
  margin-top: 1%;
}

.littleInfo {
  font-size: 12px;
}

.emojis img {
  cursor: pointer;
}

.group {
  border: 1px solid #b5b5b5;
  background-color: white;
  width: 248px;
  margin-left: 0%;
  padding-bottom: 2%;
  padding-top: 1%;
  display: inline-block;
  margin-right: 5%;
  margin-top: 5%;
}

.group .fa-users {
  font-size: 25px;
}

.accept_friend {
  padding: 4px 8px;
  background: green;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  font-weight: normal;
  font-size: 14px;
}

.decline_friend {
  padding: 4px 8px;
  background: red;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  font-weight: normal;
  font-size: 14px;
}

.join_group {
  padding: 4px 8px;
  background: #f3ad00;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  font-weight: normal;
  font-size: 14px;
}

.simpleHref {
  text-decoration: none;
  color: black;
}

#groups_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 7%;
}

#groups_list .chat-time {
  font-size: 11px;
  color: #b5b5b5;
  margin-bottom: 6px;
  margin-right: 10px;
  margin-left: 10px;
}

#searchGroupButton,
#searchUserButton {
  background-color: gray;
  color: white;
  width: 5%;
  border-radius: 4px;
  border-color: transparent;
  padding: 5px;
  font-size: 25px;
  float: right;
  margin-right: 3%;
  margin-top: 1%;
  cursor: pointer;
}

.groupModalClose:hover,
.groupModalClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#groupSearchBox,
#publicationSearchBox {
  float: right;
  margin-right: 0.5%;
  margin-top: 1.2%;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  height: 38px;
  width: 30%;
  font-size: 14px;
  color: black;
  padding-left: 1%;
}

.groupUserRole {
  font-size: 12px;
  color: blue;
  font-weight: bold;
}

.send_friend_request,
.leave_group {
  padding: 3%;
  background: gray;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  font-weight: normal;
  font-size: 14px;
}

#searchPublicationButton {
  background-color: gray;
  color: white;
  width: 8%;
  border-radius: 4px;
  border-color: transparent;
  padding: 5px;
  font-size: 25px;
  float: right;
  margin-right: 3%;
  margin-top: 1%;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  #imagem_utilizador {
    display: none;
  }

  #imagem_utilizador2 {
    display: none;
  }

  .lado_direito {
    margin-left: 15%;
  }

  #menu_utilizador a {
    padding-top: 20%;
  }

  .post {
    background-color: white;
    width: 95%;
    margin-left: 3%;
    margin-bottom: 2%;
    padding-bottom: 2%;
    padding-top: 1%;
  }

  #lista text {
    display: none;
  }

  .textI {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #left_side_profile {
    width: 100%;
  }

  #right_side_profile {
    width: 100%;
  }

  #menu_utilizador a {
    font-size: 14px;
  }

  #searchPublicationButton {
    width: 15%;
  }

  #searchGroupButton,
  #searchUserButton {
    width: 12%;
  }

  #searchUserButton {
    width: 10%;
  }

  #addGroupButton {
    width: 10%;
  }

  #addPhotoButton,
  #editProfileButton,
  #addGroupButton {
    width: 10%;
  }

  #editProfileButton {
    width: 10%;
  }

  .friend .see_profile {
    font-size: 12.5px;
  }

  .friend .photo_user {
    width: 45px;
    height: 45px;
  }
}

#file-upload {
  display: none;
}

.custom-file-upload,
#insertPub,
.add-pub-button {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
}

#pub-add {
  display: none;
}

